footer {
    margin-top: 164px;
    text-align: center;
    background-color: $main-color;
    padding: 4vh 3vw;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;


    svg {
        padding: 5px;
        border: 0px solid white;
        border-radius: 50%;
        transition: border .06s ease-in-out;
        
        &:hover {
            border: 2px solid white;
        }
    }

    .link-to-about {
        @include link-animation(-3px);
    }
}