footer {
    text-align: center;
    background-color: $main-color;
    padding: 4vh 3vw;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;


    svg {
        padding: 5px;
        border: 0px solid white;
        border-radius: 50%;
        transition: border .06s ease-in-out;
        
        &:hover {
            border: 2px solid white;
            // border-radius: 50%;
        }
    }

    .link-to-about {
        text-decoration: none;
        position: relative;
          
        &::after{
            content: '';
            display: block;
            position: absolute;
            width: 0%;
            height: 1px;
            left: -2px;
            background-color: white;
            transition: width 0.3s;
        }
          
        &:hover::after {
            width: 100%;
        }
    }
}