footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: $main-color;
    padding: 4vh 3vw;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}