@font-face {
    font-family: "Restless";
    src: url("../assets/restless-soul-bb.regular.otf");
}

* {
    margin: 0;
    padding: 0;
    color: white;
}

html {
    background: linear-gradient(345deg, rgb(19, 0, 0) 0%, rgb(62, 21, 21) 100%) no-repeat;
    background-attachment: fixed;
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: rgba(243, 229, 229, 0.784);
        border-radius: 7px;

        &:hover {
            background: rgba(154, 144, 144, 0.784);
            border-radius: 2px;
        }
    }
    ::-webkit-scrollbar-track {
        background: rgb(22, 22, 22);
    }
}


$main-color: #4a0000;

@import "navbar.scss";
@import "footbar.scss";
@import "mixins.scss";

article {
    padding: 10rem;
}


.dl-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("https://www.pngkey.com/png/detail/233-2332677_ega-png.png");
    width: 80%;
    max-width: 600px;
    height: 500px;
    margin: 50px auto;
}

.dl-button {
    @include big-button;
}

